In [31]:
import ddh
from datetime import datetime
import numpy as np
import pandas as pd
from IPython.display import clear_output

ddh.load('datacatalog.worldbank.org')

In [69]:
fields = ['nid','title','field_wbddh_data_class','field_wbddh_release_date','field_wbddh_modified_date','created','changed','field_ddh_harvest_src','field_wbddh_data_type']
df = pd.DataFrame(columns=fields).astype(int)

n = 0

try:
    for nid,rec in ddh.dataset.search(fields):
        row = []
        for field in fields:
            row.append(ddh.dataset.field(rec, field))
        
        
        df.loc[len(df)] = row
        n += 1
        if n % 100 == 0:
            clear_output(wait=True)
            print('Processed: {}'.format(n))
                
except ddh.APIError as err:
    print('API Error: {}'.format(err.url))

clear_output(wait=False)    

# there might be a more elegant way to do this
df['year_month'] = pd.DatetimeIndex(df['created']).year*100+pd.DatetimeIndex(df['created']).month

In [72]:
df['year_month'] = pd.DatetimeIndex(df['created']).year*100+pd.DatetimeIndex(df['created']).month
df.pivot_table(values='nid',index='year_month',columns='field_wbddh_data_type',margins=True,aggfunc='count').replace(np.nan,'')

field_wbddh_data_type Geospatial Microdata Other Time Series    All
year_month
201612                         1                                  1
201701                         3               1          96    100
201702                         2               1          22     25
201703                         1                          12     13
201704                         4               2          12     18
201705                         9                           5     14
201706                       206               1          19    226
201707                       753               3           8    764
201708                        33      7434                 1   7468
201709                        34       295                 1    330
201710                         1        87    56          12    156
201711                        16        34     1           3     54
201712                                  33                 2     35
201801                         2         5                 1      8
201802                         2         8                 1     11
201803                         9        20    34          21     84
201804                         8        29                 5     42
201805                        11        22     1           3     37
201806                         8        24     1           1     34
201807                         6        27                 1     34
201808                        19       134                 2    155
201809                         5         3     1           1     10
201810                       114        90   219           3    426
201811                                 205     1           1    207
201812                        11                           1     12
201901                                  42                       42
201902                                   7     5           3     15
201903                         1        40     4           1     46
201904                         3        77     3           3     86
201905                         2         2     3                  7
201906                        17              24           1     42
201907                                         1           2      3
201908                        30       127     1                158
201909                                 138                 1    139
201910                        15       144                 3    162
201911                       100        25                 2    127
201912                                  12     2           1     15
202001                                  12                       12
All                         1426      9076   365         251  11118